<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RubyInterview.com</title>
  <link href='http://fonts.googleapis.com/css?family=Neuton|Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
<footer>
  <p>
    Crafted by <%= link_to 'Scott Bartell', 'http://scottbartell.com/about' %>.
    Questions and answers from <%= link_to 'here', 'https://github.com/gregstallings/ruby-interview-questions' %>.
    View the source code <%= link_to 'here', 'https://github.com/scottbartell/rubyinterview.com' %>.
  </p>
</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2112660-11', 'rubyinterview.com');
  ga('send', 'pageview');

</script>
</body>
</html>
