<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RubyInterview.com</title>
  <link href='http://fonts.googleapis.com/css?family=Neuton|Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
<footer>
  <p>
    Crafted by <%= link_to 'Scott Bartell', 'http://scottbartell.com/about' %>.
    Questions and answers from <%= link_to 'here', 'https://github.com/gregstallings/ruby-interview-questions' %>.
    View the source code <%= link_to 'here', 'https://github.com/scottbartell/rubyinterview.com' %>.
  </p>
</footer>
</div>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51789edaf5a1f53d8c000080');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
  _gauges.push(['track']);
</script>
</body>
</html>
